@import '../common';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blog-teaser-wrapper {
  @extend .col-sm-6;
  @extend .col-md-4;
  height: 570px;

  .teaser-image {
    width: 360px;
    height: 240px;
  }
}