<div style="display:flex;justify-content:space-between;align-items:center;" class="heading">
  <h1>Right Action</h1>
  <a href="emailto:rightactioning@gmail.com">Contact</a>
</div>

<div id="content"></div>
