.image {
	position: relative;
	width: 100%; //for IE6

	h2 { 
	   position: absolute; // absolute positioning WITHIN the .image div
	   bottom: 50px;
	   left: 0; 
	   width: 100%;
	   span { 
	      color: white; 
	      font: bold 60px/80px Helvetica, Sans-Serif; // font-size/line-height
	      letter-spacing: -2px;
	      background: rgb(0, 0, 0); /* fallback color */
	      background: rgba(0, 0, 0, 0.7);
	      padding: 10px; 
	   }
	}
}

.post-info {
	color: #aaa;
	.post-date {
		display: inline-block;
		float: right;
	}
	.image-info {
		display: inline-block;
		float: left;
	}
}

.content {
	h2 {
		font: bold 36px/48px Sans-Serif;
	}
	p {
		font: 18px/36px serif;
		letter-spacing: -0.4px;
	}
	i {
		font: italic 18px/30px sans-serif;
		color: rgb(68, 68, 68);
	}
}

#next-article-image {
	height: 100px;
	width: 100px;
}

.next-article {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	margin-top: 100px;
	margin-bottom: 75px;
}

.glyphicon-arrow-right {
	font-size: 50px;
}