html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.nav li a {
  line-height: 66px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 24px;
}

.logo {
  font-family: "Sriracha";  //Change font link in head when finished
  font-size: 36px;
  letter-spacing: -2px;
}
